@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

.header {
  height: 50px;
}

.main-nav {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: inherit;
  background-color: white;
  display: flex;
  justify-content: center;
}

.main-nav__list {
  display: flex;
  align-items: center;
}

.main-nav__item {
  list-style-type: none;
}

.main {
  position: relative;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.replica {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  border-top: 1px solid;
}

.id, .act, .scene {
  flex: 0 0 3%;
}

.character {
  min-width: 30%;
  flex: 0 0 20%;
}

.text {
  flex: 0 1 auto;
  text-align: justify;
}

.description {
  font-size: 0.8rem;
}

@media screen and (max-width: 500px) {
  .header {
    height: 70px;
  }
  .id, .act, .scene {
    display: none;
  }
  .main-nav {
    height: 70px;
  }
  .main-nav__list {
    flex-direction: column;
    justify-content: center;
  }
}